.footer {
  font-size: large;
  font-weight: bold;
  margin-top: 5px;
  padding: 1rem;
  background-color: white;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  color: #021d24;
  text-align: center;
}
.contact {
  color: black;
}
.contact a {
  font-weight: 200px;
  color: black;
  text-decoration: none;
}
.contact a:hover {
  color: darkkhaki;
}
.contact a:active {
  color: black;
}

/* Footer.css */

.animated-link {
  display: inline-block;
  position: relative;
  color: #000;
  text-decoration: none;
}

.animated-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: darkkhaki;
  visibility: hidden;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.animated-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
